@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

:root {
    --textColor: rgb(219, 219, 219);
    --bgColor: rgb(10, 10, 10);
    --secondaryBgColor: rgb(27,27,27);
    --themeColor: rgb(0, 0, 0);
    --bgImage: "";
    --overColor: rgb(255, 255, 255)

}

#container { 
    background-color: var(--bgColor);
}

body {
    color: var(--textColor) !important;
    background-color: var(--bgColor) !important;
    background-image: none !important;
}

tbody {
    background-color: var(--bgColor);
    font-size: 1.3em !important;
}

th, td.th, table.grid td.th, table.grid tbody tr:nth-child(odd)>td.th, table.grid tbody.tbody tr:nth-child(odd) th.th {
    color: var(--textColor) !important;
    background: var(--secondaryBgColor) !important;
}

ul.tabs li.selected, li.ui-tabs-selected, div.tabs ul.ui-tabs-nav li.ui-state-active:hover, .ui-tabs .ui-tabs-nav li.ui-tabs-active {
    background-color: var(--secondaryBgColor) !important;
    color: var(--textColor) !important;
}

#attByClass {
    background-color: var(--bgColor) !important;
    color: var(--textColor) !important;

}

#nav-main li.selected {
    background-color: var(--themeColor) !important;
}

table.grid tbody tr:nth-child(odd)>td, table.linkDescList tbody tr:nth-child(odd)>td {
    background-color:  var(--secondaryBgColor) !important;
}

table.grid tr:nth-child(even)>td {
    background-color: var(--bgColor) !important;
}

#nav-main li a {
    color: var(--textColor) !important;
    font-weight: bold !important;
}

table.grid td {
    padding: 20px 15px !important;
}

#header {
    background-color: var(--bgColor) !important;
}

#usercontext-bar {
    background-color: rgba(0, 0, 0, 0) !important;
}

#tools li {
    font-size: 1.3rem;
    margin-top: 10px;
    font-weight: bold;
}

#btnContMax, #btnNoNav {
    background-color: var(--secondaryBgColor) !important;
    border: none !important;

}

.box-round {
    border: none !important;
}

table.grid td, table.grid th {
    border: 0.1px solid rgb(39, 39, 39) !important;
}

#attByClass {
    font-size: 2em !important;
    padding-bottom: 1em !important;
}

ul.tabs li a {
    color: var(--textColor) !important;
    font-weight: bold;
}



#psDialog {
    background-color: var(--bgColor) !important;
    color: var(--textColor) !important;
}


.ui-widget-content {
    background: var(--bgColor) !important;
}

.ui-dialog .ui-dialog-titlebar, .ui-dialog-titlebar {
    background-color: var(--bgColor) !important;
    border: none!;
}

.tablesorter-blue td {
    color: var(--textColor) !important;
}

.pds-icon-sprite {
    color: var(--bgColor) !important;
}

ul li {
    background-color: var(--bgColor) !important;
}

select, input {
    background-color: var(--secondaryBgColor) !important;
    border: none !important;
    color: var(--textColor) !important;
}

#attTotal {
    color: inherit !important;
}

#legend p,
#legend strong {
    color: var(--textColor) !important;
}

a {
    color: var(--themeColor) !important;
}

#nav-main li:hover {
    background-color: var(--themeColor) !important;
}

#sessiontimeoutwarning #sessiontimeoutwarningBox {
    background: var(--bgColor) !important;
}

#portalHeader div {
    background-color: var(--secondaryBgColor) !important;
    color: var(--textColor)
}

#students-list li.selected a, #students-list li:hover a {
    background-color: var(--secondaryBgColor) !important;
}

#ui-id-2 {
    color: var(--themeColor);
}

@keyframes flicker {
    from {
      transform: translateX(100%);
    }
    to {
        transform: translateX(-100%);

    }
}

@keyframes flicker2 {
    from {
      transform: translateY(-100%);

      
    }
    to {
        transform: translateY(100%);

    }
}

.over {
    position: fixed;
    left: 0;
    top:0;
    width: 100vw !important;
    height: 100vh !important;
    background-color: var(--overColor) !important;
    z-index: 1000 !important;
    animation-duration: 100ms;
    animation-name: flicker;
    animation-iteration-count: infinite;
    display: none;
}

.over2 {
    position: fixed;
    left: 0;
    top:0;
    width: 100vw !important;
    height: 100vh !important;
    background-color: var(--overColor) !important;
    z-index: 1000 !important;
    animation-duration: 100ms;
    animation-name: flicker2;
    animation-iteration-count: infinite;
    display: none;
}