body {
    margin: 75px;
    background-color: rgb(15, 15, 15);
    color: white;
    width: 600px;
  }

.welcome {
    font-weight: bold;
    font-size: 3em;
    margin-bottom: 4rem;
}

.container {
    display: flex;
    gap: 2rem;
}

.gpa-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-row: 1 / 2;
    grid-column: 1 /1;
}

.circular-GPA {
    position: relative;
    height: 250px;
    width: 250px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: conic-gradient(rgb(44, 190, 0) 3.6deg, rgb(17, 17, 17) 0deg);

}

.circular-GPA::before {
    content: "";
    position: absolute;
    height: 210px;
    width: 210px;
    border-radius: 50%;
    background-color: black;
}

.GPA-value {
    position: relative;
    color: white;
    font-weight: bold;
    font-size: 5em;
    
}

.info-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 10px;
    padding: 20px;
    justify-content: center;
    transform: translateY(-30px);
}


.info-list-txt {
    font-size: 1.6em;
    font-weight: bold;
    line-height: 2rem;
}

.tabs li:nth-child(1) {
    background-color: rgb(14, 19, 80) !important;
}




.dropdown {
    min-width: 100%;
    position: relative;
    transform: translateY(-50px);
}

.dropdown * {
    box-sizing: border-box;
}


.select {
    background-color: rgb(12, 12, 12);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px rgb(49, 49, 49) solid;
    border-radius: 0.5em;
    padding: 0.5em;
    cursor: pointer;
    
}

.select:hover {
    background-color: rgb(25, 25, 25);
}

.selected {
    font-size: 1.2em;
    font-weight: bold;
    line-height: 2rem;
}

.caret {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right:  5px solid transparent;
    border-top: 6px solid var(--textColor);
    transition: 0.3s;
}

.caret-rotate {
    transform: rotate(180deg);
}

.menu {
    list-style: none;
    padding: 0.2em 0.5em;
    background-color: rgb(10, 10, 10);
    border: 2px rgb(23, 23, 23) solid;
    box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.2);
    border-radius: 0.5em;
    color: inherit;
    position: absolute;
    top: 3.5em;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
    opacity: 0;
    display: none;
    transition: 0.2s;
    z-index: 1;
}

.menu li {
    padding: 0.7em 0.5em;
    margin: 0.3em 0;
    border-bottom: 1px solid rgb(17, 17, 17);
    cursor: pointer;
}

.menu li:hover {
    background-color: rgb(77, 77, 77);
}

.active {
    background-color: rgb(77, 77, 77);
}

.menu-open {
    display: block;
    opacity: 1;
}

.actions {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}