body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    background-color: black;
    width: 600px;
    height: 100px;
    color: white;
}

h1 {
    padding-left: 3.5rem;
    font-size: 3em;
}

.settings-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1.5rem;
}

#optionsForm {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 2rem;
}

.setting {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    
}

.setting-label {
    font-size: 1.3em;
    font-weight: bold;
    position: absolute;
    left: 200px;
    text-align: left;

}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.back-btn {
    text-decoration: none;
    color:white;
    position: absolute;
    top: 2.3rem;
    left: 1rem;
    font-size: 1.7em;
}

#theme {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  #theme::-webkit-color-swatch {
    border-radius: 5px;
    border: none;
  }
  #theme::-moz-color-swatch {
    border-radius: 5px;
    border: none;
  }