:root {
    --textColor: rgb(219, 219, 219);
    --secondaryTextColor: rgb(206, 206, 206);
    --bgColor: black;
    --secondaryBgColor: rgb(12, 12, 12);
    
}


body {
    margin: 50px;
    background-color: var(--bgColor);
    color: var(--themeColor);
    min-width: 600px;
}

h1 {
    font-weight: bold;
    font-size: 4em;
    margin-bottom: 2rem;
}

.info-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    width: 100%;
    background-color: var(--secondaryBgColor);
}

.part {
    text-align: center;
    padding: 1rem;
    font-size: 2em;
    font-weight: bold;
    color: var(--secondaryTextColor);
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.part:first-child {
    border-right: 2px solid var(--themeColor);
}

.part:last-child {
    border-left: 2px solid var(--themeColor);
}




.tabs li:nth-child(2) {
    background-color: var(--themeColor) !important;
}

